<div class="container">
  <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          User Bulk Upload
        </mat-panel-title>
        <mat-panel-description>
          Bulk Upload User data as per template
        </mat-panel-description>
      </mat-expansion-panel-header>

      <input-file #userUpload></input-file>

      <button mat-button color="primary" class="pull-right" (click)="downloadFile('BulkUsersUpload')" >Download template</button>

      <mat-action-row>  
        <button mat-button color="primary" (click)="uploadFile(userUpload.files,'BulkUsersUpload');userUpload.clear();">upload</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Company bulk upload
        </mat-panel-title>
        <mat-panel-description>
          Please bulk upload company details as per the template
        </mat-panel-description>
      </mat-expansion-panel-header>

      <input-file #companyUpload></input-file>

      <button mat-button color="primary" class="pull-right" (click)="downloadFile('BulkCompaniesUpload')" >Download template</button>

      <mat-action-row>
        <button mat-button color="primary" (click)="uploadFile(companyUpload.files,'BulkCompaniesUpload');companyUpload.clear();">upload</button>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>


  </mat-accordion>
  <loader [loading]="loading"></loader>
</div>