<mat-tab-group class="demo-tab-group">

  <mat-tab label="Modify Mapping">
    <!-- 
    <span>Modify RM / ARM / Middle Office Person - Company mapping</span> -->
    <div class="modify-mapping-content">
      <div class="modify-mapping-searchbar">
        <mat-form-field class="search-bar">
          <input matInput (keyup)="applyFilter(searchValue)" placeholder="Search by Company, RM, ARM and MOP" [(ngModel)]="searchValue">
          <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue='';applyFilter(searchValue)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="modify-mapping-table mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

          <!-- Company Column -->
          <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.company}} </mat-cell>
          </ng-container>

          <!-- RM Column -->
          <ng-container matColumnDef="rm">
            <mat-header-cell *matHeaderCellDef mat-sort-header> RM </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.rm}} </mat-cell>
          </ng-container>

          <!-- ARM1 Column -->
          <ng-container matColumnDef="arm1">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ARM1 </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.arm1}} </mat-cell>
          </ng-container>

          <!-- ARM2 Column -->
          <ng-container matColumnDef="arm2">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ARM2 </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.arm2}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="arm3">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ARM3 </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.arm3}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="middleOfficePerson1">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Middle Office Person 1 </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.middleOfficePerson1}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="middleOfficePerson2">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Middle Office Person 2 </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.middleOfficePerson2}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="handleRowClick(row)">
          </mat-row>
        </mat-table>

        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      
    </div>
    <div class="admin-modify-actions">
      <!-- <button mat-button (click)="deleteUsers(users.selectedOptions.selected)" tabindex="2">Delete</button> -->
      <button mat-raised-button color="primary"  routerLink="/home" tabindex="-1">back</button>
  </div>
  </mat-tab>
  <mat-tab label="Modify User Details">
    <div class="demo-tab-content">
        <div class="modify-mapping-content">
            <div class="modify-mapping-searchbar">
              <mat-form-field class="search-bar">
                <input matInput (keyup)="narrowUsers(userSearchValue)" placeholder="Search by name, incdocs id or employee id" [(ngModel)]="userSearchValue">
                <button mat-button *ngIf="userSearchValue" matSuffix mat-icon-button aria-label="Clear" (click)="userSearchValue='';narrowUsers(userSearchValue)">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="modify-mapping-table mat-elevation-z8">
      
              <mat-table [dataSource]="dataSourceForUserDetails" matSort>
      
                <!-- Company Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                </ng-container>
      
                <!-- RM Column -->
                <ng-container matColumnDef="incdocsID">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Incdocs ID </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.incdocsID}} </mat-cell>
                </ng-container>
      
                <!-- ARM1 Column -->
                <ng-container matColumnDef="employeeID">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Employee ID </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.employeeID}} </mat-cell>
                </ng-container>
      
                <!-- ARM2 Column -->
                <ng-container matColumnDef="role">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.role}} </mat-cell>
                </ng-container>
      
                <ng-container matColumnDef="mobile">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.mobile}} </mat-cell>
                </ng-container>
      
                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                </ng-container>
      
                <ng-container matColumnDef="createdOn">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Created On </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.createdOn}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="lastModifiedOn">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified On </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.lastModifiedOn}} </mat-cell>
                  </ng-container>
      
                <mat-header-row *matHeaderRowDef="displayedColumnsForUserDetails"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsForUserDetails;" (click)="handleUserModifyRowClick(row)">
                </mat-row>
              </mat-table>
      
              <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            
          </div>
          <div class="admin-modify-actions">
            <!-- <button mat-button (click)="deleteUsers(users.selectedOptions.selected)" tabindex="2">Delete</button> -->
            <button mat-raised-button color="primary"  routerLink="/home" tabindex="-1">back</button>
        </div>
    </div>
  </mat-tab>
</mat-tab-group>