<div>
  <mat-card class="grid-card">
    <mat-card-header>
      <mat-card-title>
        <h2> Your current Portfolio</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="min-margin">
        <button mat-raised-button (click)="addNewMapping()" class="min-margin">Add ARM Company Mapping</button>
        <button mat-raised-button (click)="requestNewCompany()" class="min-margin">Request New Company</button>
        <button mat-raised-button (click)="toggleGroupings()" class="min-margin">Toggle Groupings</button>
      </div>
      <grid [gridColumnDefinitions]="gridColumnDefinitions" [gridOptions]="gridOptionsWithCompanyGroup" [gridDataset]="gridDataset"
        (onDataViewReady)="onDataViewReady($event)"></grid>
    </mat-card-content>
  </mat-card>
</div>