<h4 mat-dialog-title> New User created successfully!!</h4>
<div mat-dialog-content>
  <p class="min-margin">New user created with following credentials: </p>
  <div *ngIf="data && data.input && data.input.name">Employee ID: {{data.input.name}}</div>
  <div>Incdocs ID: {{data.output}}</div>
  <div>Role : {{data.input.roleID}}</div>
  <div *ngIf="showGHSpecifics()">
    GH ID: {{data.input.ghID}}
  </div>
  <p class="min-margin">
    Please ask the user to login to set the password.
  </p>
  
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="OK" >Ok</button>
</div>