.grid-card{
    max-width: 1200px;
    /* max-height: 80%;    */
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-bottom: 3%; */
}

.slick-viewport{
    overflow-x: hidden !important;
    max-height: 70% !important;
}

.min-margin{
    margin:10px;
}

.form-input {
    min-width: 150px;
    max-width: 500px;
    width: 95%;
    margin-left: 10px;
  }


.full-width{
    width: 100%;
}

.tooltip-holder{
    margin-left:2%;
}

