.full-width{
    width: 100%;
}

.login-holder{
    width:30%;
    margin-left:35%;
    margin-top:10%;    
}

/* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
} */

.login-button{
    margin-top:2%;
    /* background-color:  #673ab7; */

}

.title{
    margin-bottom:2%;
}