<mat-tab-group class="demo-tab-group">
  <!-- First tab -> delete user -->
  <mat-tab label="Delete User">
    <div class="delete-user-content">
      <!-- <h3 >Users' details in Incdocs</h3> -->
      <div class="delete-user-searchbar">
        <mat-form-field class="search-bar">
          <input matInput (keyup)="applyFilter(searchValue)" placeholder="Search by User Name, Employee ID, Incdocs ID" [(ngModel)]="searchValue">
          <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue='';applyFilter(searchValue)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="modify-mapping-table mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

          <!-- Company Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
          </ng-container>

          <!-- RM Column -->
          <ng-container matColumnDef="incdocsID">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Incdocs ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.incdocsID}} </mat-cell>
          </ng-container>

          <!-- ARM1 Column -->
          <ng-container matColumnDef="employeeID">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Employee ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.employeeID}} </mat-cell>
          </ng-container>

          <!-- ARM2 Column -->
          <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.role}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.mobile}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="createdOn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Created On </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.createdOn}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="lastModifiedOn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified On </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.lastModifiedOn}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="handleRowClick(row)">
          </mat-row>
        </mat-table>

        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <div class="delete-user-actions">
      <button mat-raised-button color="primary" routerLink="/home" tabindex="-1">back</button>
    </div>

  </mat-tab>


  <!-- Second tab -> delete mappings. -->
  <mat-tab label="Delete Mapping ">
    <div class="delete-mappings-content">
      <!-- <h3 >Users' details in Incdocs</h3> -->
      <div class="delete-mappings-searchbar">
        <mat-form-field class="search-bar">
          <input matInput (keyup)="narrowMappings(companySearch)" placeholder="Search by Company or Username" [(ngModel)]="companySearch">
          <button mat-button *ngIf="companySearch" matSuffix mat-icon-button aria-label="Clear" (click)="companySearch='';narrowMappings(companySearch)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="modify-mapping-table mat-elevation-z8">

        <mat-table [dataSource]="dataSourceForCompanies" matSort>

          <!-- Company Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
            <mat-cell *matCellDef="let data"> {{data.name}} </mat-cell>
          </ng-container>

          <!-- RM Column -->
          <ng-container matColumnDef="rm">
            <mat-header-cell *matHeaderCellDef mat-sort-header> RM </mat-header-cell>
            <mat-cell *matCellDef="let data"> {{data.rm.name}} </mat-cell>
          </ng-container>

          <!-- ARM1 Column -->
          <ng-container matColumnDef="arm1">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ARM1 </mat-header-cell>
            <mat-cell *matCellDef="let data"> {{data.arm1.name}} </mat-cell>
          </ng-container>

          <!-- ARM2 Column -->
          <ng-container matColumnDef="arm2">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ARM2 </mat-header-cell>
            <mat-cell *matCellDef="let data"> {{data.arm2.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="mop1">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Middle Office Person 1 </mat-header-cell>
            <mat-cell *matCellDef="let data"> {{data.mop1.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="mop2">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Middle Office Person 2 </mat-header-cell>
            <mat-cell *matCellDef="let data"> {{data.mop2.name}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsForCompanies"></mat-header-row>
          <mat-row *matRowDef="let data; columns: displayedColumnsForCompanies;" (click)="handleDeleteMappingRowClick(data)">
          </mat-row>
        </mat-table>

        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <div class="delete-user-actions">
      <button mat-raised-button color="primary" routerLink="/home" tabindex="-1">cancel</button>
    </div>
  </mat-tab>
</mat-tab-group>