.formInput{
    /* margin-top:2%; */
    /* margin-bottom: 2%; */
    text-align: right;
    /* margin-left:15% !important; */
    /* margin-right: 15% !important; */
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-top:10px;
}

.full-width{
    width: 50%;
}

.tooltip-holder{
    margin-left:2%;
}

.min-margin{
    margin:10px;
}

.min-margin-left{
    margin-left:10px;
}