<div class="newCompanyActionsDiv">
  <div style="margin-left:40%">
    <h2>
      Create New User
    </h2>
  </div>

  <br />
  <br />

  <div id="newCompanyform">
    <div class="row formInput">
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Name" value="" [(ngModel)]="employeeName">
        <button mat-button *ngIf="employeeName" matSuffix mat-icon-button aria-label="Clear" (click)="employeeName=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <span matTooltip="Enter Employee name" [matTooltipPosition]="matTooltipPosition" class="tooltip-holder">
        <i class="material-icons">info</i>
      </span>
    </div>

    <div class="row formInput">
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Employee ID" value="" [(ngModel)]="employeeID">
        <button mat-button *ngIf="employeeID" matSuffix mat-icon-button aria-label="Clear" (click)="employeeID=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <span matTooltip="Enter official Employee ID" [matTooltipPosition]="matTooltipPosition" class="tooltip-holder">
        <i class="material-icons">info</i>
      </span>
    </div>

    <div class="row formInput">
      <mat-form-field class="full-width">
        <mat-select placeholder="Role of the Employee" [(ngModel)]="roleID">
          <mat-option *ngFor="let role of roles" [value]="role.roleID">
            {{ role.roleName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span matTooltip="Role of this employee" [matTooltipPosition]="matTooltipPosition" class="tooltip-holder">
        <i class="material-icons">info</i>
      </span>
    </div>

    <div class="row formInput" *ngIf="roleID != ghRoleID">
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Group Head ID" value="" [(ngModel)]="ghID">
        <button mat-button *ngIf="ghID" matSuffix mat-icon-button aria-label="Clear" (click)="ghID=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <span matTooltip="Group Head ID that this User rolls up to" [matTooltipPosition]="matTooltipPosition" class="tooltip-holder">
        <i class="material-icons">info</i>
      </span>
    </div>

    <div class="row formActions pull-right">
      <button mat-raised-button color="primary" (click)="submit()"> Submit </button>
      <button mat-raised-button color="primary" routerLink="/home" routerLinkActive="active"> Cancel </button>
    </div>

  </div>