<div class="homePageActionsDiv" [@bounce]="bounce">
  <div class="icon-holder"  routerLink="/bank/admin/new-company" routerLinkActive="active" *ngIf="showActionItem('CREATE_COMPANY')">
    <i class="material-icons icon-large" title="Create new Company">domain</i>
    <span class="title">Create new Company</span>
  </div>
  <div class="icon-holder"  routerLink="/bank/admin/new-rm" routerLinkActive="active" *ngIf="showActionItem('CREATE_COMPANY')">
    <i class="material-icons icon-large" title="Create new User">person_add</i>
    <span class="title"> Create new User</span>
  </div>
  <div class="icon-holder"  routerLink="/bank/admin/bulk-upload" *ngIf="showActionItem('BULK_UPLOAD_MAPPINGS')">
    <i class="material-icons icon-large" title="Bulk Upload">file_upload</i>
    <span class="title"> Bulk Upload</span>
  </div>
  <!-- <div class="icon-holder" routerLink="/modify">
    <i class="material-icons icon-large" title="Modify Mapping">edit</i>
    <span class="title"> Modify Mapping</span>
  </div>
  <div class="icon-holder" routerLink="/modify">
    <i class="material-icons icon-large" title="Multi Replace">compare_arrows</i>
    <span class="title"> Multi Replace</span>
  </div>
  <div class="icon-holder" routerLink="/delete">
    <i class="material-icons icon-large" title="Delete RM ">delete</i>
    <span class="title"> Delete</span>
  </div> -->
  <loader [loading]="loading"></loader>
  <div>