.icon-large{
    font-size:10em !important;
    /* color:#373b53; */
    /* color:azure; */
}

.homePageActionsDiv {
    position: relative;
    width: 50%;
    margin-left: 30%;
    margin-right: 30%;
    /* border: 1px solid red; */
    margin-top: 5%;

}

.icon-holder{
    display:inline-grid;
    /* border: 1px solid blue; */
    margin: 1.25em;
    width: 25%;
    /* color:whitesmoke; */
}

.title {
    text-align: center;
}