<div class="homePageActionsDiv">
  <div class="icon-holder" routerLink="/new-company" routerLinkActive="active">
    <i class="material-icons icon-large" title="Create new Company">domain</i>
    <!-- <mat-icon class="icon-large">domain</mat-icon> -->
    <span class="title">Create new Company</span>
  </div>
  <div class="icon-holder" routerLink="/new-rm" routerLinkActive="active">
    <!-- <i class="material-icons icon-large">supervisor_account</i> -->
    <i class="material-icons icon-large" title="Create new RM">person_add</i>
    <span class="title"> Create new RM</span>
  </div>
  <div class="icon-holder">
    <i class="material-icons icon-large" title="Bulk Upload">file_upload</i>
    <span class="title"> Bulk Upload</span>
  </div>
  <div class="icon-holder" routerLink="/modify">
    <i class="material-icons icon-large" title="Modify Mapping">edit</i>
    <span class="title"> Modify Mapping</span>
  </div>
  <div class="icon-holder">
    <i class="material-icons icon-large" title="Delete RM ">delete</i>
    <span class="title"> Delete RM</span>
  </div>
<div>